streamlit
langfuse==2.53.9
google-genai
google-generativeai
openai
pydantic
httpx
selenium
webdriver-manager
python-dotenv
beautifulsoup4
pandas
PyPDF2
backoff
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
